<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor= "let s of destino.servicios">
                <span [ngSwitch]= 's'>
                    <i *ngSwitchCase="'desayuno'" style="color: red;">{{s}}</i> 
                    <!--define el estilo cuando hay coincidencia con "desayuno" coloca 
                        en color rojo el texto -->
                    <i *ngSwitchDefault>{{s}}</i>
                    <!--este estilo es por defecto lo q hace es colocar el texto en italica
                    pero no realiza ninguna otra modificacion -->
                </span>
            </li>
        </ul>
        <a href="#" class="btn-card" (click)='ir()'>Ir!</a>
        <!-- lo que viene abajo es un if mas practico en cuanto a sintaxis si se cumple
        se asigna el valor predeterminado en este caso es PREFERIDO (se conoce como una directiva
    esa sintaxis *ngIf) se evaluan funciones que pertenecen a typescript que se definen en el component-->
        <span *ngIf="destino.isSelected()" > PREFERIDO
        <!-- esta es otra forma de desplegar lo de arriba
        <span [style.display]="destino.isSelected() ? ' ' : 'none'" > PREFERIDO</span>
          style.display es el estilo que se va a desplegar en html pertenece a css	-->
          <!-- se llama destino.isSelected() ? significa que si es verdadero, ' ' elige q 
            valor asignar en este caso es vacio, luego los : equivale a un sino se desplegara 'none' basicamente e
        es tipo de if	-->
        <span ngNonBindable>{{PREFERIDO}}</span>
        <!-- esto hace que angular no modifique el contenido que se encuentra dentro de la
            capsula ngNonBindable -->
    
    </span>
    </div>
</div>