<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="container content">

    <div class="page-header">
        <div class="Container">
            <h1> Ruteo Simple</h1>
            <div class="navLinks">
                <a [routerLink]="['/home']">Home</a>
                <a [routerLink]="['/destino/id']">Destino</a>
            </div>
        </div>
    </div>

    <div class="row">
        <h1>
            {{ title }}
        </h1>
    </div>
    <router-outlet></router-outlet>

    <!--  <app-lista-destinos> </app-lista-destinos>
    <input name='titulo' type='text' #titulo>
    <input name='titulo' type='submit' (click)='agregar(titulo)'> -->
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->